.projects {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  padding: 5rem 0rem;

  .content {
    display: flex;

    @media (max-width: 1030px) {
      flex-direction: column;
    }

    .picture {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      position: relative;
      object-fit: contain;
      border-radius: 0.2rem;

      .image {
        height: 23rem;
        width: 40rem;
        object-fit: contain;

        @media (max-width: 1030px) {
          height: 15rem;
          width: 20rem;
        }
      }
    }

    .projectsView {
      color: var(--text-color);
      display: flex;
      flex-direction: column;
      margin: 1rem;
      width: 20rem;
    }
  }
}
