.sectionTitle {
  font-weight: 600;
  font-size: var(--section-title-size, 5rem);
  color: var(--title-color);

  @media (max-width: 800px) {
    font-size: var(--section-title-size-mobile, 4rem);
  }
}
