.project {
  border-top: solid;
  padding: 0.5rem;

  &:hover {
    cursor: pointer;
  }

  .link {
    color: var(--text-color);
    text-decoration: none;
  }

  &:last-child {
    border-bottom: solid;
  }
}

.active {
  font-weight: 700;
}
