.contactSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 0rem;

  .form {
    width: 75%;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
    padding: 2rem;
    border-radius: 5px;

    .formInput {
      display: flex;
      flex-direction: column;
      color: var(--text-color);

      .input {
        border: none;
        font-size: 1.1rem;
        outline: none;
        border-radius: 10px;
        padding: 0.6rem;
        margin-bottom: 1.5rem;
      }

      .inputArea {
        resize: none;
        height: 20rem;
      }
    }

    .submit {
      display: flex;
      justify-content: flex-end;
    }
  }
}
