.button {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;

  border: none;
  border-radius: 0.2rem;
  width: 10rem;
  height: 2.5rem;
  font-size: 1rem;

  .icon,
  .name {
    padding: 0.5rem 1rem;
    width: 100%;
    height: 100%;
  }

  .icon {
    background-color: var(--title-color);
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
    fill: var(--text-color);
    position: relative;
  }

  .name {
    background-color: var(--text-color);
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    width: 40rem;
  }
}
