:root {
  --background-color: #0f172a;
  --title-color: #2eb2d3;
  --text-color: #eff0f2;
  /* #212121; */
}

body {
  margin: 0;
  padding: 0;

  background-color: var(--background-color);
  overflow: overlay;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;

  /* firefox   */
  scrollbar-width: thin;
  scrollbar-color: var(--title-color) transparent;
}

::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
}

::-webkit-scrollbar-thumb {
  background: var(--title-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}
