.header {
  background-image: linear-gradient(to right bottom, #6393A6cc, #F2F2F2cc), url('/header-background.jpg');
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .heading {
    font-weight: 700;
    font-size: 10rem;
    color: #2E4959;

  }
  
  .headingSub {
    font-size: 3rem;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-weight: 600;
    color: #51768C;
  }

  .headingSub1 {
    margin-right: 3rem;
  }
}