.navbar {
  .menuOpener {
    position: fixed;
    left: 0;
    z-index: 3;
    margin: 1rem;
  }

  .filter {
    position: fixed;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .list {
    position: fixed;
    padding-top: 3rem;
    margin: 0px;
    height: 100vh;
    width: 15rem;
    left: 0;
    top: 0;
    z-index: 2;
    padding-left: 0;
    background-color: var(--text-color);
    cursor: pointer;
    text-decoration: none;

    .element {
      text-decoration: none;
      list-style-type: none;
      padding: 1rem 1.5rem;
      color: var(--background-color);

      &:hover {
        background-color: var(--title-color);
        color: var(--text-color);
      }
    }

    .activeElement {
      background-color: var(--title-color);
      color: var(--text-color);
    }
  }
}
