.navbar {
  .menuOpener {
    position: fixed;
    right: 0;
    z-index: 3;
    margin: 1rem;
  }

  .filter {
    position: fixed;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .list {
    position: fixed;
    padding-top: 3rem;
    margin: 0px;
    height: 100vh;
    width: 15rem;
    right: 0;
    top: 0;
    z-index: 2;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #fff;

    .element {
      list-style-type: none;
      padding-right: 1rem;
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }
}
