.header {
  background-image: linear-gradient(to right bottom, #303f9fcc, #eeeeeecc),
    url("/header-background.jpg");
  background-size: cover;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  clip-path: url("#wave");

  .heading {
    font-weight: 700;
    font-size: 10rem;
    color: var(--title-color);
  }

  .headingSub {
    font-size: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    font-weight: 600;
    color: #546e7a;
    column-gap: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .header {
    .heading {
      font-size: 5rem;
    }
  }
}
